body, html {
	padding: 0;
	margin: 0;
}

.xen-card {
	z-index: 10;
	display: block;
	width: 100%;
	background: #fff;
	box-sizing: border-box;
	font-size: 13px;
}

.xen-card .xen-card-header {
	background: #3e454d;
	padding: 20px;
	overflow: auto;
}

.xen-card .xen-cell {
	cursor: pointer;
	position: relative;
	text-align: center;
	width: 10%;
	padding: 3%;
}

.xen-cell .nepali-date {
	font-size: 28px;
}

.xen-cell .english-date {
	position: absolute;
	right: 10px;
	bottom: 5px;
}

.xen-cell:hover {
	background: #f87f67ba;
}

.xen-cell.bg-info {
	color: #FFF;
}

.xen-card table.xen-calendar-table {
	width: 100%;
	background: #f3f3f3;
	border-collapse: collapse;
}

.xen-calendar-table th {
    text-align: center;
    font-weight: normal;
    background: #7e8389;
    color: #ffffff;
    padding: 5px 0;
}

.xen-prev-next-btn {
	float: right;
}

.xen-prev-next-btn button {
    height: 20px;
    font-size: 13px;
    padding: 2px 10px;
    border: 1px solid #ccc;
}
.xen-form-wrapper {
	position: relative;
	text-align: center;
}

.xen-form-inline {
	display: inline-block;
}

.xen-calendar-month, .xen-calendar-year {
	background: none;
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.xen-calendar-month {
	text-align-last: right; 
	margin-right: 10px;
}

.xen-calendar-month option, .xen-calendar-year option{
	color: #3e454d;
	font-size: 16px;
}

.xen-card button#next, .xen-card button#previous {
	position: absolute;
	background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.xen-card button#previous {
	left: 10px;
}

.xen-card button#next {
	right: 10px;
}

.xen-bg-today {
	background: #f87f67;
	color: #ffffff;
}

.xen-bg-info {
	background: #f87f67ba;
	color: #FFFFFF;
}

.xen-calendar-table {
	padding-top: 5px;
}

.xen-btn-prev {
	margin-right: 3px;
}